<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo1_provider_8082.dao.Userdao">
    <insert id="addUser" parameterType="User">
        INSERT INTO t_user(username, password, name, email, phone, status, code, db_source)
        VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{status}, #{code}, #{db_source});
    </insert>
    <select id="findById" resultType="User" parameterType="Integer">
        select *
        from t_user
        where id = #{id};
    </select>
    <select id="findByUsername" resultType="User" parameterType="String">
        select *
        from t_user
        where username = #{username};
    </select>
    <select id="findByEmail" resultType="User" parameterType="String">
        select *
        from t_user
        where username = #{email};
    </select>
    <select id="findByPhone" resultType="User" parameterType="String">
        select *
        from t_user
        where phone = #{phone};
    </select>
    <select id="findAll" resultType="User" parameterType="String">
        select *
        from t_user
    </select>


</mapper>

